<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Car Rental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>

<body>

<div th:if="${cars.isEmpty()}">

    <p> Przepraszamy, nie mamy dostępnych w tym terminie samochodów</p>

    Jeśli chcesz być powiadomiony, gdy samochód w wybranym terminie będzie dostępny,
    wpisz swój adres email w polu poniżej i kliknij "Powiadom"

    <form action="#" th:action="@{/reservation/noCars}" th:object="${newReservation}" method="post">
        <p> Twój adres email: <input type="email" th:field="*{email}">

            <input type="submit" value="Powiadom">
        </p>

    </form>

</div>

<div th:unless="${cars.isEmpty()}">
<p>Data odbioru samochodu: <span th:text="${newReservation.getPickupDate().toString()}"></span></p>
<p>Data odbioru samochodu: <span th:text="${newReservation.getReturnDate().toString()}"></span></p>

<form action="#" th:action="@{/reservation/add2}" th:object="${newReservation}" method="post">

    <p>Wybierz samochód:
        <select th:value="${cars}" th:field="*{car}">
            <option th:each="car : ${cars}"
                    th:value="${car.getId()}"
                    th:text="${car.toString()}"> Wybierz samochód
            </option>
        </select>
    </p>

    <p>Gdzie go chcesz zwrócić:
        <select th:value="${allOffices}" th:field="*{returnLocation}">
            <option th:each="office : ${allOffices}"
                    th:value="${office.getId()}"
                    th:text="${office.getLocation()}"> Wybierz miejsce zwrotu
            </option>
        </select>
    </p>

    <p>
        <input type="submit" value="Dalej"/></p>

</form>

</div>

</body>

</html>