<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{headContent :: header}">
    <title>Car Rental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div class="container">

    <div th:replace="~{headerMenu.html :: headerMenu}"></div>
    <h3>Lista samochodów:</h3>

    <table class="table table-striped">

        <thead>
        <th>ID</th>
        <th>Marka</th>
        <th>Model</th>
        </thead>

        <tbody>
        <tr scope="row" th:each=" car : ${allCars}" th:object="${car}">

            <td th:text="*{id}"></td>
            <td th:text="*{brand}"></td>
            <td th:text="*{model}"></td>

        </tr>
        </tbody>

    </table>
    <div th:replace="~{footer :: footer}"></div>
</div>

</body>

</html>