<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Car Rental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>

<h3>Witaj na stronie wypożyczalni samochodów!</h3>

<a th:href="@{/car/add}">Dodaj samochód</a></br>
<a th:href="@{/car/list}">Lista samochodów</a></br>
<a th:href="@{/office/add}">Dodaj biuro</a></br>
<a th:href="@{/office/list}">Lista biur</a></br>
<a th:href="@{/reservation/add}">Dokonaj rezerwacji</a></br>

</body>

</html>