<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Car Rental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>

<body>
<h3>Zapytania o rezerwacje:</h3>

<table border="1">

    <tbody>
    <th>Data wypożyczenia</th>
    <th>Data zwrotu</th>
    <th>Lokalizacja wypożyczenia</th>
    <th>Adres email klienta</th>



    <tr th:each=" r : ${noOrdered}" th:object="${r}">

        <td th:text="*{pickupDate.toString()}"></td>
        <td th:text="*{returnDate.toString()}"></td>
        <td th:text="*{pickupLocation.location}"></td>
        <td th:text="*{email}"></td>

    </tr>
    </tbody>

</table>

</body>

</html>