<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{headContent :: header}">
    <title>Car Rental</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<div class="container">

    <div th:replace="~{headerMenu.html :: headerMenu}"></div>
    <h3>Lista biur:</h3>

    <table class="table table-striped">
        <thead>
        <th>Id biura</th>
        <th>Lokalizacja biura</th>
        </thead>

        <tbody>
        <tr scope="row" th:each="o : ${allOffices}" th:object="${o}">

            <td th:text="*{id}"></td>
            <td th:text="*{location}"></td>

        </tr>
        </tbody>

    </table>

    <div th:replace="~{footer :: footer}"></div>
</div>

</body>

</html>